/target/
/.idea/
/.bsp/
/project/
/exercises/.idea/
/exercises/.bsp/
/exercises/target/
/akka-projects/.bsp/
/akka-projects/.idea/
/akka-projects/target/
/spark-projects/target/
/spark-projects/.bsp/
/spark-projects/.idea/
/spark-projects/sql/db.sql
/spark-projects/src/main/resources/data-streaming/*
